*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

nav{
  background-color: aqua;
  padding: 12px;
}

nav ul{
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 12px;
}

ul li{
  list-style: none;
}